<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
     <header>
       <img src="" alt="">
       <!-- barra de busqeda -->
       <a href=""><i class="fa-solid fa-bars"></i></a>
       <nav>
        <ul>
            <li><a href="">HOME</a></li>
            <li><a href="">OFERTAS</a></li>
            <li><a href="">CATEGORIAS</a></li>
            <li><a href="">CONTACTO</a></li>
            <li><a href="">INGRESA</a></li>
            <li><a href="">CREA TU CUENTA</a></li>
        </ul>
       </nav>
    </header>

    <main class="">
        <section>
            <!-- carrusel -->
       </section>
   
       <section>
        <article>
            <div>
                <img src="/images/producto.png" alt="">
                <a href="">Producto</a>
                <h3>Price$$</h3>
            </div>
        </article>
        <article>
            <div>
                <img src="/images/producto.png" alt="">
                <a href="">Producto</a>
                <h3>Price$$</h3>
            </div>
        </article>
        <article>
            <div>
                <img src="/images/producto.png" alt="">
                <a href="">Producto</a>
                <h3>Price$$</h3>
            </div>
        </article>
       </section>
       <section>
        <div>
            <img src="images/categoria.png" alt="">
            <a href="">categoria</a>
        </div>
        <div>
            <img src="images/categoria.png" alt="">
            <a href="">categoria</a>
        </div>
        <div>
            <img src="images/categoria.png" alt="">
            <a href="">categoria</a>
        </div>
       </section>
       <section>
        <article>
            <div>
                <h3>Nuevos Productos Agregados</h3>
            </div>
        </article>
        <article>
            <div>
                <img src="/images/producto.png" alt="">
                <a href="">Producto</a>
                <h3>Price$$</h3>
            </div>
        </article>
        <article>
            <div>
                <img src="/images/producto.png" alt="">
                <a href="">Producto</a>
                <h3>Price$$</h3>
            </div>
        </article>
        <article>
            <div>
                <img src="/images/producto.png" alt="">
                <a href="">Producto</a>
                <h3>Price$$</h3>
            </div>
        </article>
        <article>
            <div>
                <img src="/images/producto.png" alt="">
                <a href="">Producto</a>
                <h3>Price$$</h3>
            </div>
        </article>
        <article>
            <div>
                <img src="/images/producto.png" alt="">
                <a href="">Producto</a>
                <h3>Price$$</h3>
            </div>
        </article>
        <article>
            <div>
                <img src="/images/producto.png" alt="">
                <a href="">Producto</a>
                <h3>Price$$</h3>
            </div>
        </article>
       </section>
    </main>
    <footer>
        <a href=""><i class="fa-brands fa-instagram"></i></a>
        <a href=""><i class="fa-brands fa-whatsapp"></i></a>
        <a href=""><i class="fa-brands fa-tiktok"></i></a>
        <a href=""><i class="fa-brands fa-youtube"></i></a>
    </footer>
</body>
</html>