<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ecommerce</title>
    <link rel="stylesheet" href="/css/style.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.7.2/css/all.min.css" integrity="sha512-Evv84Mr4kqVGRNSgIGL/F/aIDqQb7xQ2vcrdIwxfjThSH8CSR7PBEakCr51Ck+w+/U6swU2Im1vVX0SVk9ABhg==" crossorigin="anonymous" referrerpolicy="no-referrer" />
</head>
<body>
    <header class="main-header">
        <img class="logo" src="" alt="">
        <!-- barra de busqueda -->
        <a href="" class="menu-burger"><i class="fa-solid fa-bars"></i></a>
        <nav class="main-nav">
            <ul>
                <li><a href="">HOME</a></li>
                <li><a href="">OFERTAS</a></li>
                <li><a href="">CATEGORIAS</a></li>
                <li><a href="">CONTACTO</a></li>
                <li><a href="">INGRESA</a></li>
                <li><a href="">CREA TU CUENTA</a></li>
            </ul>
        </nav>
    </header>

    <main class="home">
        <section class="carousel">
            <!-- carrusel -->
        </section>
        
        <section class="products-offers">
            <h2>Ofertas</h2>
            <article class="product">
                <img class="product-image" src="/images/producto.png" alt="">
                <a href="" class="product-name">Producto</a>
                <p>Price$$</p>
            </article>
            <article class="product">
                <img class="product-image" src="/images/producto.png" alt="">
                <a href="" class="product-name">Producto</a>
                <p>Price$$</p>
            <article class="product">
                <img class="product-image" src="/images/producto.png" alt="">
                <a href="" class="product-name">Producto</a>
                <p>Price$$</p>
            </article>
        </section>

        <section class="categorys">
            <div class="category">
                <img class="category-image" src="images/categoria.png" alt="">
                <a class="category-name" href="">categoria</a>
            </div>
            <div class="category">
                <img class="category-image" src="images/categoria.png" alt="">
                <a class="category-name" href="">categoria</a>
            </div>
            <div class="category">
                <img class="category-image" src="images/categoria.png" alt="">
                <a class="category-name" href="">categoria</a>
            </div>
        </section>

        <section class="products-all">
            <h2>Nuevos Productos Agregados</h2>
            <article class="product">
                <img class="product-image" src="/images/producto.png" alt="">
                <a href="" class="product-name">Producto</a>
                <p>Price$$</p>
            </article>
            <article class="product">
                <img class="product-image" src="/images/producto.png" alt="">
                <a href="" class="product-name">Producto</a>
                <p>Price$$</p>
            </article>
            <article class="product">
                <img class="product-image" src="/images/producto.png" alt="">
                <a href="" class="product-name">Producto</a>
                <p>Price$$</p>
            </article>
            <article class="product">
                <img class="product-image" src="/images/producto.png" alt="">
                <a href="" class="product-name">Producto</a>
                <p>Price$$</p>
            </article>
            <article class="product">
                <img class="product-image" src="/images/producto.png" alt="">
                <a href="" class="product-name">Producto</a>
                <p>Price$$</p>
            </article>
            <article class="product">
                <img class="product-image" src="/images/producto.png" alt="">
                <a href="" class="product-name">Producto</a>
                <p>Price$$</p>
            </article>
        </section>
    </main>
    
    <footer class="main-footer">
        <nav>
            <ul>
                <li><a href=""><i class="fa-brands fa-instagram"></i></a></li>
                <li><a href=""><i class="fa-brands fa-whatsapp"></i></a></li>
                <li><a href=""><i class="fa-brands fa-tiktok"></i></a></li>
                <li><a href=""><i class="fa-brands fa-youtube"></i></a></li>
            </ul>
        </nav>
    </footer>
</body>
</html>